@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-SemiboldIt.woff2") format("woff2"), url("../fonts/ProximaNova-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("../fonts/ProximaNova-ExtrabldIt.woff2") format("woff2"), url("../fonts/ProximaNova-ExtrabldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Bl";
  src: url("../fonts/ProximaNova-BlackIt.woff2") format("woff2"), url("../fonts/ProximaNova-BlackIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Bl";
  src: url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-BoldIt.woff2") format("woff2"), url("../fonts/ProximaNova-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-LightIt.woff2") format("woff2"), url("../fonts/ProximaNova-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/ProximaNova-RegularIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("../fonts/ProximaNova-ThinIt.woff2") format("woff2"), url("../fonts/ProximaNova-ThinIt.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("../fonts/ProximaNova-Thin.woff2") format("woff2"), url("../fonts/ProximaNova-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Proxima Nova Rg";
  background-color: var(--color-bg);
}

:root {
  --color-white: #fff;
  --color-black: #1f1e1f;
  --color-red: #c91b1b;
  --color-bg: #fbfbfb;
  --text-color: #3d3c3d;
}

ul {
  margin-bottom: 0rem;
  padding-left: 0rem;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  z-index: 999;
}

header .navbar-nav .nav-item .nav-link {
  color: var(--color-black);
  font-weight: 500;
}

.banner .swiper {
  width: 100%;
  height: 100%;
}

.banner .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-white);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 99;
}

.banner .swiper .swiper-slide::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.171);
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.banner .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .swiper .swiper-slide .content {
  max-width: 33rem;
  margin-top: 15rem;
}

.banner .swiper .swiper-slide .content h1 {
  color: var(--color-red);
  font-weight: 700;
  font-size: 4rem;
}

.banner .swiper .swiper-slide .content .text {
  position: relative;
  margin-top: 6rem;
  padding-left: 2rem;
}

.banner .swiper .swiper-slide .content .text::before {
  content: "";
  height: 2.8rem;
  width: 1.5rem;
  background-color: var(--color-red);
  position: absolute;
  display: block;
  left: 0;
  bottom: 1.8rem;
}

.banner .swiper .swiper-slide .content .text p {
  color: var(--color-white);
  font-weight: 500;
  font-size: 1rem;
  font-family: "Proxima Nova Th";
}

.banner .swiper .swiper-slide .content .btn {
  color: var(--color-white);
  margin-left: 2rem;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  margin-top: 2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-weight: 700;
}

.banner .swiper .swiper-slide .content .btn:hover {
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
}

.services {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.services .col-lg-5 .info-area {
  padding: 5rem 0rem 0rem 5rem;
  margin-top: 2rem;
  display: block;
  max-width: 30rem;
}

.services .col-lg-5 .info-area h6 {
  font-weight: bold;
  font-size: 1.6rem;
  max-width: 17rem;
  margin-bottom: 4rem;
}

.services .col-lg-5 .info-area h2 {
  color: var(--color-red);
  font-weight: bold;
  font-size: 4rem;
  display: block;
  margin-bottom: 4rem;
}

.services .navigate-area {
  margin-top: 2rem;
}

.services .navigate-area .start-count {
  position: absolute;
  left: -1.9rem;
  font-size: 1.5rem;
  top: -0.3rem;
}

.services .navigate-area .counter-length {
  font-size: 4rem;
  font-weight: 800;
  position: relative;
}

.services .navigate-area .counter-length::before {
  content: "";
  background-color: var(--color-black);
  height: 1.8rem;
  width: 0.2rem;
  position: absolute;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: 0rem;
  left: -0.7rem;
}

.services .navigate-area .swiper-button-next,
.services .navigate-area .swiper-button-prev {
  position: relative !important;
  top: inherit !important;
  left: inherit !important;
  right: inherit !important;
}

.services .navigate-area .swiper-button-next:before,
.services .navigate-area .swiper-button-prev::before {
  content: "";
  bottom: -0.5rem;
  height: 100%;
  width: 100%;
  position: absolute;
}

.services .navigate-area .swiper-button-next::before {
  background: url(../img/right.png) no-repeat;
  background-position: bottom;
}

.services .navigate-area .swiper-button-prev::before {
  background: url(../img/left.png) no-repeat;
  background-position: bottom;
  left: -1rem;
}

.services .navigate-area .swiper-button-next:after,
.services .navigate-area .swiper-button-prev:after {
  display: none;
}

.services .col-lg-7 {
  background-color: var(--color-red);
  padding: 9rem 0rem 20rem 0rem;
}

.services .col-lg-7 .swiper-container {
  margin-left: -11rem;
  margin-right: -10rem;
}

.services .col-lg-7 .swiper {
  width: 100%;
  height: 100%;
}

.services .col-lg-7 .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  scale: 0.88;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services .col-lg-7 .swiper .swiper-slide-active {
  scale: 1;
}

.services .col-lg-7 .swiper .swiper-slide .card {
  padding: 0;
  border: 0rem;
  border-radius: 0rem;
  background-color: transparent;
}

.services .col-lg-7 .swiper .swiper-slide .card img {
  display: block;
  width: 100%;
  height: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: none;
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body {
  padding: 3rem;
  background-color: var(--color-white);
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body h5 {
  color: var(--color-black);
  font-weight: 700;
  font-size: 1.5rem;
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body p {
  font-size: 0.9rem;
  margin-top: 1rem;
  color: var(--text-color);
  font-weight: 500;
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body .btn {
  padding-left: 0rem;
  color: var(--color-red);
  font-size: 1rem;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body .btn:hover i {
  margin-left: 1rem;
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body .btn i {
  color: var(--color-black);
  margin-left: 0.4rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.security-system {
  position: relative;
  overflow: hidden;
  display: block;
  margin-top: -10rem;
  z-index: 999;
}

.security-system .container-fluid {
  padding-left: 0rem !important;
}

.security-system .col-lg-7 {
  padding-right: 0rem;
}

.security-system .col-lg-7 img {
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.security-system .col-lg-5 {
  padding-left: 0rem;
  margin-top: 6.5rem;
}

.security-system .col-lg-5 .content {
  background-color: var(--color-white);
  max-width: 46rem;
  height: 40rem;
  padding: 7rem 3rem 3rem 3rem;
}

.security-system .col-lg-5 .content h6 {
  color: var(--color-red);
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.security-system .col-lg-5 .content h2 {
  color: var(--color-black);
  font-weight: 800;
  font-size: 3.8rem;
  margin-bottom: 2.5rem;
}

.security-system .col-lg-5 .content p {
  color: var(--text-color);
  max-width: 25rem;
  font-size: 1rem;
  font-weight: 300;
}

.security-system .col-lg-5 .content .btn {
  color: var(--color-red);
  padding-left: 0rem;
  font-size: 3rem;
  margin-top: 2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.security-system .col-lg-5 .content .btn:hover {
  color: var(--color-black);
}

.about {
  padding: 6rem 0rem 3rem 0rem;
  position: relative;
}

.about .box h4 {
  color: var(--color-red);
  font-weight: 800;
  margin: 2.5rem 0rem 1rem 0rem;
  font-size: 1.6rem;
  text-align: center;
}

.about .box p {
  color: var(--text-color);
  font-weight: 300;
  font-size: 1rem;
}

.blog {
  position: relative;
  padding: 3rem 0rem;
}

.blog h3 {
  /*         font-family: 'Ms Madi', cursive;
 */
  font-family: "Pinyon Script", cursive;
  font-size: 5rem;
  color: var(--color-red);
  font-weight: 500;
  margin-bottom: 5rem;
}

.blog .navigate-area {
  margin-top: 2rem;
  margin-top: 4rem;
}

.blog .navigate-area .start-count {
  position: absolute;
  left: -1.9rem;
  font-size: 1.5rem;
  top: -0.3rem;
}

.blog .navigate-area .counter-length {
  font-size: 4rem;
  font-weight: 800;
  position: relative;
}

.blog .navigate-area .counter-length::before {
  content: "";
  background-color: var(--color-black);
  height: 1.8rem;
  width: 0.2rem;
  position: absolute;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: 0rem;
  left: -0.7rem;
}

.blog .navigate-area .swiper-button-next,
.blog .navigate-area .swiper-button-prev {
  position: relative !important;
  top: inherit !important;
  left: inherit !important;
  right: inherit !important;
}

.blog .navigate-area .swiper-button-next:before,
.blog .navigate-area .swiper-button-prev::before {
  content: "";
  bottom: -0.5rem;
  height: 100%;
  width: 100%;
  position: absolute;
}

.blog .navigate-area .swiper-button-next::before {
  background: url(../img/right.png) no-repeat;
  background-position: bottom;
}

.blog .navigate-area .swiper-button-prev::before {
  background: url(../img/left.png) no-repeat;
  background-position: bottom;
  left: -1rem;
}

.blog .navigate-area .swiper-button-next:after,
.blog .navigate-area .swiper-button-prev:after {
  display: none;
}

.blog .swiper {
  width: 100%;
  height: 100%;
}

.blog .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog .swiper .card {
  border-radius: 0rem;
  border: none;
  background-color: transparent;
  text-align: start;
}

.blog .swiper .card:hover .img-wrapper:before {
  background-color: #1f1e1f8a;
}

.blog .swiper .card:hover h5 {
  color: var(--color-red) !important;
}

.blog .swiper .card .img-wrapper {
  position: relative;
}

.blog .swiper .card .img-wrapper:before {
  content: "";
  background-color: #c91b1b86;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.blog .swiper .card .img-wrapper img {
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  border-radius: 0rem;
}

.blog .swiper .card .card-body {
  background-color: var(--color-white);
  padding: 2rem;
}

.blog .swiper .card .card-body h5 {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.blog .swiper .card .card-body p {
  /* color: var(--color-black); */
  font-weight: 300;
  font-size: 1rem;
  color: var(--text-color);
}

.blog .swiper .card .card-body .btn {
  padding-left: 0rem;
  color: var(--color-red);
  font-size: 1rem;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.blog .swiper .card .card-body .btn:hover i {
  margin-left: 1rem;
}

.blog .swiper .card .card-body .btn i {
  color: var(--color-black);
  margin-left: 0.4rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.we {
  min-height: 50vh;
  position: relative;
  padding: 5rem 3rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, #c91b1b), color-stop(33%, #1f1e1f));
  background-image: linear-gradient(90deg, #c91b1b 33%, #1f1e1f 33%);
  margin-bottom: 3rem;
}

.we h2 {
  color: var(--color-white);
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.we h2 span {
  font-weight: 100 !important;
  font-size: 1.5rem;
}

.we p {
  color: var(--color-white);
  font-weight: 300;
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */