@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-SemiboldIt.woff2") format("woff2"), url("../fonts/ProximaNova-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("../fonts/ProximaNova-ExtrabldIt.woff2") format("woff2"), url("../fonts/ProximaNova-ExtrabldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Bl";
  src: url("../fonts/ProximaNova-BlackIt.woff2") format("woff2"), url("../fonts/ProximaNova-BlackIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Bl";
  src: url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-BoldIt.woff2") format("woff2"), url("../fonts/ProximaNova-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-LightIt.woff2") format("woff2"), url("../fonts/ProximaNova-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/ProximaNova-RegularIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("../fonts/ProximaNova-ThinIt.woff2") format("woff2"), url("../fonts/ProximaNova-ThinIt.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("../fonts/ProximaNova-Thin.woff2") format("woff2"), url("../fonts/ProximaNova-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Proxima Nova Rg";
  background-color: var(--color-bg);
}

:root {
  --color-white: #fff;
  --color-black: #1f1e1f;
  --color-red: #c91b1b;
  --color-bg: #fbfbfb;
  --text-color: #3d3c3d;
}

ul {
  margin-bottom: 0rem;
  padding-left: 0rem;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 8rem 5rem;
}

@media screen and (max-width: 1440px) {
  header {
    padding: 8rem 1rem;
  }
  header.bg-color {
    background-color: var(--color-white);
  }
  header.bg-color .menu-toggle i {
    color: var(--color-black);
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding: 4rem 0.5rem;
  }
}

header.header_scroll {
  background-color: var(--color-white);
  padding: 4rem 1rem;
}

@media screen and (max-width: 1200px) {
  header.header_scroll {
    padding: 4rem 0.5rem;
  }
}

header.header_scroll .nav-link {
  padding: 2.8rem 1.5rem !important;
}

@media screen and (max-width: 1440px) {
  header.header_scroll .nav-link {
    padding: 0.5rem 1rem !important;
  }
}

header.header_scroll .nav-link::before {
  bottom: 2.4rem !important;
}

header.header_scroll a,
header.header_scroll button {
  color: var(--color-black) !important;
}

header.header_scroll .language-area img {
  -webkit-filter: inherit;
          filter: inherit;
}

header.header_scroll .menu-toggle i {
  color: var(--color-black);
}

header .wrapper {
  display: none;
}

@media screen and (max-width: 1200px) {
  header .wrapper {
    display: block;
  }
}

header .menu-toggle {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 1rem;
  top: 40%;
}

header .language-area {
  margin: 0rem 1.5rem;
}

@media screen and (max-width: 1200px) {
  header .language-area {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 1rem !important;
    margin: 0rem;
  }
}

header .language-area img {
  max-width: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 1750px) {
  header .social-media {
    margin: 0px 6rem;
  }
}

@media screen and (max-width: 1440px) {
  header .social-media {
    margin: 0px 2rem;
  }
}

@media screen and (max-width: 1200px) {
  header .social-media {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
}

header .social-media ul li a {
  color: var(--color-black);
  font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
  header .social-media ul li a {
    color: var(--color-black);
  }
}

@media screen and (max-width: 1200px) {
  header .collapse {
    position: fixed;
    height: 100vh;
    width: 0;
    background: var(--color-white);
    top: 8rem;
    left: 0;
    right: 0;
    z-index: 99999;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    display: block !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .collapse.active {
  padding: 2rem 1rem;
  opacity: 9 !important;
  visibility: visible !important;
  width: 100% !important;
}

@media screen and (max-width: 1200px) {
  header .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

header .navbar-nav .nav-item .nav-link {
  color: var(--color-black);
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1.7rem 1rem;
  position: relative;
}

@media screen and (max-width: 1440px) {
  header .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  header .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem !important;
    color: var(--color-black);
  }
}

@media screen and (min-width: 1200px) {
  header .navbar-nav .nav-item .nav-link::before {
    content: "";
    height: 2px;
    width: 0px;
    background-color: var(--color-red);
    position: absolute;
    bottom: 1rem;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
}

@media screen and (max-width: 600px) {
  header .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
  }
}

header .navbar-nav .nav-item .nav-link:hover {
  color: var(--color-red);
}

header .navbar-nav .nav-item .nav-link:hover::before {
  width: 50%;
}

header .navbar-nav .nav-item .nav-link.active {
  color: var(--color-red);
}

@media screen and (min-width: 1200px) {
  header .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
  }
}

header .navbar-nav .nav-item .dropdown-menu {
  border-radius: 0rem;
}

@media screen and (max-width: 1200px) {
  header .navbar-nav .nav-item .dropdown-menu {
    position: relative !important;
    overflow: scroll;
    height: 12rem;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    border: none;
    padding-left: 1rem;
    top: inherit !important;
  }
}

header .navbar-nav .nav-item .dropdown-menu li a {
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  header .navbar-nav .nav-item .dropdown-menu li a {
    padding-left: 0rem;
  }
}

header .navbar-nav .nav-item .dropdown-menu li a:hover {
  background-color: transparent;
  color: var(--color-red);
}

header .navbar-brand {
  width: 24%;
  display: block;
  max-width: 20rem;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  header .navbar-brand {
    max-width: 16rem;
  }
}

@media screen and (max-width: 991px) {
  header .navbar-brand {
    max-width: 13rem;
  }
}

.banner {
  position: relative;
}

.banner .swiper {
  width: 100%;
  height: 100%;
}

.banner .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-white);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 99;
  min-height: 100vh;
  width: 100%;
  padding: 2rem 0rem;
}

@media screen and (max-width: 991px) {
  .banner .swiper .swiper-slide {
    min-height: 70vh;
    padding: 4rem 0rem;
    background-position: left !important;
  }
}

.banner .swiper .swiper-slide::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.849);
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*    @media screen and(max-width:$lg-breakpoint) {
                    background-color: rgba(0, 0, 0, 0.26);
                } */
}

.banner .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .swiper .swiper-slide .content {
  max-width: 33rem;
  margin-top: 15rem;
}

@media screen and (max-width: 991px) {
  .banner .swiper .swiper-slide .content {
    max-width: 17rem;
    margin-top: 7rem;
  }
}

.banner .swiper .swiper-slide .content h1 {
  color: var(--color-red);
  font-weight: 700;
  font-size: 4rem;
}

@media screen and (max-width: 991px) {
  .banner .swiper .swiper-slide .content h1 {
    font-size: 2rem;
  }
}

.banner .swiper .swiper-slide .content .text {
  position: relative;
  margin-top: 6rem;
  padding-left: 2rem;
}

@media screen and (max-width: 991px) {
  .banner .swiper .swiper-slide .content .text {
    margin-top: 3rem;
  }
}

.banner .swiper .swiper-slide .content .text::before {
  content: "";
  height: 2.8rem;
  width: 1.5rem;
  background-color: var(--color-red);
  position: absolute;
  display: block;
  left: 0;
  top: -1.5rem;
}

.banner .swiper .swiper-slide .content .text p {
  color: var(--color-black);
  font-weight: 500;
  font-size: 1rem;
}

.banner .swiper .swiper-slide .content .btn {
  color: var(--color-black);
  margin-left: 2rem;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  margin-top: 2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-weight: 700;
}

.banner .swiper .swiper-slide .content .btn:hover {
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: var(--color-white);
}

.services {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

@media screen and (min-width: 1200px) {
  .services .col-lg-5 .info-area {
    padding: 5rem 0rem 0rem 5rem;
    margin-top: 10rem;
    display: block;
    max-width: 30rem;
  }
}

@media screen and (max-width: 1650px) {
  .services .col-lg-5 .info-area {
    padding: 5rem 0rem 0rem 1rem;
    max-width: 20rem;
  }
}

@media screen and (max-width: 1200px) {
  .services .col-lg-5 .info-area {
    max-width: 16rem;
  }
}

@media screen and (max-width: 1024px) {
  .services .col-lg-5 .info-area {
    max-width: 100%;
  }
}

.services .col-lg-5 .info-area h6 {
  font-weight: bold;
  font-size: 1.6rem;
  max-width: 17rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1440px) {
  .services .col-lg-5 .info-area h6 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .services .col-lg-5 .info-area h6 {
    margin-bottom: 2rem;
  }
}

.services .col-lg-5 .info-area h2 {
  color: var(--color-red);
  font-weight: bold;
  font-size: 4rem;
  display: block;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1440px) {
  .services .col-lg-5 .info-area h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .services .col-lg-5 .info-area h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .services .col-lg-5 .info-area h2 {
    margin-bottom: 2rem;
  }
}

.services .col-lg-5 .info-area p {
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 1440px) {
  .services .col-lg-5 .info-area p {
    font-size: 0.9rem;
  }
}

.services .navigate-area {
  margin-top: 2rem;
}

.services .navigate-area .start-count {
  position: absolute;
  left: -1.9rem;
  font-size: 1.5rem;
  top: -0.3rem;
}

.services .navigate-area .counter-length {
  font-size: 4rem;
  font-weight: 800;
  position: relative;
}

.services .navigate-area .counter-length::before {
  content: "";
  background-color: var(--color-black);
  height: 1.8rem;
  width: 0.2rem;
  position: absolute;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: 0rem;
  left: -0.7rem;
}

.services .navigate-area .swiper-button-next,
.services .navigate-area .swiper-button-prev {
  position: relative !important;
  top: inherit !important;
  left: inherit !important;
  right: inherit !important;
}

.services .navigate-area .swiper-button-next:before,
.services .navigate-area .swiper-button-prev::before {
  content: "";
  bottom: -0.5rem;
  height: 100%;
  width: 100%;
  position: absolute;
}

.services .navigate-area .swiper-button-next::before {
  background: url(../img/right.png) no-repeat;
  background-position: bottom;
}

.services .navigate-area .swiper-button-prev::before {
  background: url(../img/left.png) no-repeat;
  background-position: bottom;
  left: -1rem;
}

.services .navigate-area .swiper-button-next:after,
.services .navigate-area .swiper-button-prev:after {
  display: none;
}

.services .col-lg-7 {
  background-color: var(--color-red);
  padding: 9rem 0rem 20rem 0rem;
}

@media screen and (max-width: 1024px) {
  .services .col-lg-7 {
    padding: 1rem;
    background-color: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .services .col-lg-7 .swiper-container {
    margin-left: -11rem;
    margin-right: -10rem;
  }
}

.services .col-lg-7 .swiper {
  width: 100%;
  height: 100%;
}

.services .col-lg-7 .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .services .col-lg-7 .swiper .swiper-slide {
    scale: 0.88;
  }
  .services .col-lg-7 .swiper .swiper-slide-active {
    scale: 1;
  }
}

.services .col-lg-7 .swiper .swiper-slide .card {
  padding: 0;
  border: 0rem;
  border-radius: 0rem;
  background-color: transparent;
}

.services .col-lg-7 .swiper .swiper-slide .card img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: none;
}

@media screen and (min-width: 1200px) {
  .services .col-lg-7 .swiper .swiper-slide .card img {
    height: 17rem;
  }
}

@media screen and (max-width: 1200px) {
  .services .col-lg-7 .swiper .swiper-slide .card img {
    height: 23rem;
  }
}

@media screen and (max-width: 991px) {
  .services .col-lg-7 .swiper .swiper-slide .card img {
    height: 17rem;
  }
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body {
  padding: 3rem;
  background-color: var(--color-white);
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body h5 {
  color: var(--color-black);
  font-weight: 700;
  font-size: 1.5rem;
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body p {
  font-size: 0.9rem;
  margin-top: 1rem;
  color: var(--text-color);
  font-weight: 500;
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body .btn {
  padding-left: 0rem;
  color: var(--color-red);
  font-size: 1rem;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body .btn:hover i {
  margin-left: 1rem;
}

.services .col-lg-7 .swiper .swiper-slide .card .card-body .btn i {
  color: var(--color-black);
  margin-left: 0.4rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media screen and (max-width: 991px) {
  .services .col-lg-7 .swiper .swiper-slide .card .card-body {
    padding: 2rem;
  }
}

.security-system {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 999;
}

@media screen and (min-width: 991px) {
  .security-system {
    margin-top: -10rem;
  }
}

@media screen and (min-width: 991px) {
  .security-system .container-fluid {
    padding-left: 0rem !important;
  }
}

@media screen and (max-width: 991px) {
  .security-system .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 991px) {
  .security-system .col-lg-7 {
    padding-right: 0rem;
  }
  .security-system .col-lg-7 img {
    height: 50rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
}

@media screen and (min-width: 991px) and (max-width: 991px) {
  .security-system .col-lg-7 img {
    height: auto;
  }
}

@media screen and (min-width: 991px) {
  .security-system .col-lg-5 {
    padding-left: 0rem;
    margin-top: 6.5rem;
  }
}

.security-system .col-lg-5 .content {
  background-color: var(--color-white);
  max-width: 46rem;
  height: 40rem;
  padding: 7rem 3rem 3rem 3rem;
}

@media screen and (max-width: 1440px) {
  .security-system .col-lg-5 .content {
    max-width: 36rem;
  }
}

@media screen and (max-width: 1200px) {
  .security-system .col-lg-5 .content {
    max-width: 30rem;
    padding: 5rem 3rem 3rem 3rem;
    height: 36rem;
  }
}

@media screen and (max-width: 991px) {
  .security-system .col-lg-5 .content {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .security-system .col-lg-5 .content {
    padding: 3rem 1rem 1rem 1rem;
  }
}

.security-system .col-lg-5 .content h6 {
  color: var(--color-red);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1440px) {
  .security-system .col-lg-5 .content h6 {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .security-system .col-lg-5 .content h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.security-system .col-lg-5 .content h2 {
  color: var(--color-black);
  font-weight: 800;
  font-size: 3.8rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 1440px) {
  .security-system .col-lg-5 .content h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .security-system .col-lg-5 .content h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .security-system .col-lg-5 .content h2 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .security-system .col-lg-5 .content h2 {
    font-size: 1.8rem;
  }
}

.security-system .col-lg-5 .content p {
  color: var(--text-color);
  max-width: 25rem;
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 1440px) {
  .security-system .col-lg-5 .content p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 991px) {
  .security-system .col-lg-5 .content p {
    max-width: 100%;
  }
}

.security-system .col-lg-5 .content .btn {
  color: var(--color-red);
  padding-left: 0rem;
  font-size: 3rem;
  margin-top: 2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media screen and (max-width: 600px) {
  .security-system .col-lg-5 .content .btn {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.security-system .col-lg-5 .content .btn:hover {
  color: var(--color-black);
}

.about {
  padding: 6rem 0rem 0rem 0rem;
  position: relative;
}

@media screen and (max-width: 991px) {
  .about {
    padding: 3rem 0rem 0rem 0rem;
  }
}

.about .box h4 {
  color: var(--color-red);
  font-weight: 800;
  margin: 2.5rem 0rem 1rem 0rem;
  font-size: 1.6rem;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .about .box h4 {
    font-size: 1.3rem;
  }
}

.about .box p {
  color: var(--text-color);
  font-weight: 300;
  font-size: 1rem;
}

@media screen and (max-width: 1440px) {
  .about .box p {
    font-size: 0.9rem;
  }
}

.blog {
  position: relative;
  padding: 3rem 0rem;
}

.blog h3 {
  /*         font-family: 'Ms Madi', cursive;
 */
  font-family: "Pinyon Script", cursive;
  font-size: 5rem;
  color: var(--color-red);
  font-weight: 500;
  margin-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .blog h3 {
    margin-bottom: 2rem;
  }
}

.blog .navigate-area {
  margin-top: 2rem;
  margin-top: 4rem;
}

.blog .navigate-area .start-count {
  position: absolute;
  left: -1.9rem;
  font-size: 1.5rem;
  top: -0.3rem;
}

.blog .navigate-area .counter-length {
  font-size: 4rem;
  font-weight: 800;
  position: relative;
}

.blog .navigate-area .counter-length::before {
  content: "";
  background-color: var(--color-black);
  height: 1.8rem;
  width: 0.2rem;
  position: absolute;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: 0rem;
  left: -0.7rem;
}

.blog .navigate-area .swiper-button-next,
.blog .navigate-area .swiper-button-prev {
  position: relative !important;
  top: inherit !important;
  left: inherit !important;
  right: inherit !important;
}

.blog .navigate-area .swiper-button-next:before,
.blog .navigate-area .swiper-button-prev::before {
  content: "";
  bottom: -0.5rem;
  height: 100%;
  width: 100%;
  position: absolute;
}

.blog .navigate-area .swiper-button-next::before {
  background: url(../img/right.png) no-repeat;
  background-position: bottom;
}

.blog .navigate-area .swiper-button-prev::before {
  background: url(../img/left.png) no-repeat;
  background-position: bottom;
  left: -1rem;
}

.blog .navigate-area .swiper-button-next:after,
.blog .navigate-area .swiper-button-prev:after {
  display: none;
}

.blog .swiper {
  width: 100%;
  height: 100%;
}

.blog .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog .swiper .card {
  border-radius: 0rem;
  border: none;
  background-color: transparent;
  text-align: start;
}

.blog .swiper .card:hover .img-wrapper:before {
  background-color: #1f1e1f8a;
}

.blog .swiper .card:hover h5 {
  color: var(--color-red) !important;
}

.blog .swiper .card .img-wrapper {
  position: relative;
}

.blog .swiper .card .img-wrapper:before {
  content: "";
  background-color: #c91b1b86;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.blog .swiper .card .img-wrapper img {
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  border-radius: 0rem;
}

.blog .swiper .card .card-body {
  background-color: var(--color-white);
  padding: 2rem;
}

.blog .swiper .card .card-body h5 {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 991px) {
  .blog .swiper .card .card-body h5 {
    font-size: 1.3rem;
  }
}

.blog .swiper .card .card-body p {
  /* color: var(--color-black); */
  font-weight: 300;
  font-size: 1rem;
  color: var(--text-color);
}

@media screen and (max-width: 1440px) {
  .blog .swiper .card .card-body p {
    font-size: 0.9rem;
  }
}

.blog .swiper .card .card-body .btn {
  padding-left: 0rem;
  color: var(--color-red);
  font-size: 1rem;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.blog .swiper .card .card-body .btn:hover i {
  margin-left: 1rem;
}

.blog .swiper .card .card-body .btn i {
  color: var(--color-black);
  margin-left: 0.4rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.we {
  min-height: 50vh;
  position: relative;
  padding: 5rem 3rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, #c91b1b), color-stop(33%, #1f1e1f));
  background-image: linear-gradient(90deg, #c91b1b 33%, #1f1e1f 33%);
  margin-bottom: 3rem;
}

@media screen and (max-width: 991px) {
  .we {
    padding: 4rem 1rem;
    background-color: var(--color-red) !important;
    background-image: none;
  }
}

.we .box {
  max-width: 16rem;
}

@media screen and (max-width: 600px) {
  .we .box {
    max-width: 100%;
  }
}

.we .box h2 {
  color: var(--color-white);
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.we .box h2 span {
  font-weight: 100 !important;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .we .box h2 span {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 991px) {
  .we .box h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .we .box h2 {
    font-size: 2rem;
  }
}

.we .box p {
  color: var(--color-white);
  font-weight: 300;
  font-size: 1rem;
}

@media screen and (max-width: 1440px) {
  .we .box p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 991px) {
  .we .expert {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}

@media screen and (max-width: 600px) {
  .we .customer {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}

footer {
  background-color: var(--color-black);
  padding: 5rem 0rem 0rem 0rem;
}

@media screen and (max-width: 991px) {
  footer .img-wrapper img {
    max-width: 15rem;
  }
}

footer .social-media {
  margin: 3rem 0rem 2rem 1.3rem;
}

footer .social-media ul li a {
  color: var(--color-white);
  font-size: 1.5rem;
}

footer .contact {
  margin-left: 1.3rem;
}

footer .contact ul li a {
  color: var(--color-white);
  font-weight: 300;
  font-size: 0.9rem;
}

footer .contact ul li a i {
  color: var(--color-red);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

footer h4 {
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.3rem;
}

@media screen and (max-width: 991px) {
  footer h4 {
    font-size: 1.1rem;
  }
}

footer .address {
  position: relative;
  margin-top: 3rem;
  padding-left: 1.5rem;
}

footer .address p {
  color: var(--color-white);
  font-size: 0.9rem;
}

footer .address::before {
  content: "";
  height: 2.2rem;
  width: 1rem;
  background-color: var(--color-red);
  position: absolute;
  display: block;
  left: 0;
  top: -1.2rem;
}

footer .phone-area {
  margin-top: 3rem;
  position: relative;
  padding-left: 1.5rem;
}

footer .phone-area::before {
  content: "";
  height: 2.2rem;
  width: 1rem;
  background-color: var(--color-red);
  position: absolute;
  display: block;
  left: 0;
  top: -1.2rem;
}

footer .phone-area ul li a {
  color: var(--color-white);
  font-size: 0.9rem;
}

@media screen and (max-width: 991px) {
  footer .service-area,
  footer .info-area {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}

footer .service,
footer .info {
  margin-top: 3rem;
  position: relative;
  padding-left: 1.5rem;
}

footer .service::before,
footer .info::before {
  content: "";
  height: 2.2rem;
  width: 1rem;
  background-color: var(--color-red);
  position: absolute;
  display: block;
  left: 0;
  top: -1.2rem;
}

footer .service ul li,
footer .info ul li {
  margin: 0.5rem 0rem;
}

footer .service ul li a,
footer .info ul li a {
  color: var(--color-white);
  font-size: 0.9rem;
  font-weight: 300;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

footer .service ul li a:hover,
footer .info ul li a:hover {
  color: var(--color-red);
}

footer .copyright {
  background-color: var(--color-white);
  padding: 1rem 0rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1440px) {
  footer .copyright {
    padding: 0.5em 0rem;
  }
}

@media screen and (max-width: 991px) {
  footer .copyright .col-lg-6 {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center;
  }
}

footer .copyright span {
  color: var(--color-black);
  font-size: 0.9rem;
  font-weight: 300;
  display: block;
}

@media screen and (max-width: 1440px) {
  footer .copyright span {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 991px) {
  footer .copyright span {
    margin-bottom: 0.5rem;
  }
}

footer .copyright img {
  -webkit-filter: invert(1);
          filter: invert(1);
  max-width: 2.8rem;
}

@media screen and (max-width: 1440px) {
  footer .copyright img {
    max-width: 1.7rem;
  }
}
/*# sourceMappingURL=style.css.map */