@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

@font-face {
    font-family: "Proxima Nova Rg";
    src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
        url("../fonts/ProximaNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Lt";
    src: url("../fonts/ProximaNova-SemiboldIt.woff2") format("woff2"),
        url("../fonts/ProximaNova-SemiboldIt.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Lt";
    src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"),
        url("../fonts/ProximaNova-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Th";
    src: url("../fonts/ProximaNova-ExtrabldIt.woff2") format("woff2"),
        url("../fonts/ProximaNova-ExtrabldIt.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Bl";
    src: url("../fonts/ProximaNova-BlackIt.woff2") format("woff2"),
        url("../fonts/ProximaNova-BlackIt.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Bl";
    src: url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Rg";
    src: url("../fonts/ProximaNova-BoldIt.woff2") format("woff2"),
        url("../fonts/ProximaNova-BoldIt.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Rg";
    src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Th";
    src: url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"),
        url("../fonts/ProximaNova-Extrabld.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Lt";
    src: url("../fonts/ProximaNova-LightIt.woff2") format("woff2"),
        url("../fonts/ProximaNova-LightIt.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Lt";
    src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Rg";
    src: url("../fonts/ProximaNova-RegularIt.woff2") format("woff2"),
        url("../fonts/ProximaNova-RegularIt.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Th";
    src: url("../fonts/ProximaNova-ThinIt.woff2") format("woff2"),
        url("../fonts/ProximaNova-ThinIt.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova Th";
    src: url("../fonts/ProximaNova-Thin.woff2") format("woff2"), url("../fonts/ProximaNova-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@mixin btn {
    padding-left: 0rem;
    color: var(--color-red);
    font-size: 1rem;
    display: inline-flex !important;

    &:hover {
        i {
            margin-left: 1rem;
        }
    }

    i {
        color: var(--color-black);
        margin-left: 0.4rem;
        transition: 0.3s all;
    }
}

@mixin navigateArea {
    margin-top: 2rem;

    .start-count {
        position: absolute;
        left: -1.9rem;
        font-size: 1.5rem;
        top: -0.3rem;
    }

    .counter-length {
        font-size: 4rem;
        font-weight: 800;
        position: relative;

        &::before {
            content: "";
            background-color: var(--color-black);
            height: 1.8rem;
            width: 0.2rem;
            position: absolute;
            transform: rotate(20deg);
            top: 0rem;
            left: -0.7rem;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: relative !important;
        top: inherit !important;
        left: inherit !important;
        right: inherit !important;
    }

    .swiper-button-next:before,
    .swiper-button-prev::before {
        content: "";
        bottom: -0.5rem;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .swiper-button-next::before {
        background: url(../img/right.png) no-repeat;
        background-position: bottom;
    }

    .swiper-button-prev::before {
        background: url(../img/left.png) no-repeat;
        background-position: bottom;
        left: -1rem;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }
}

@mixin border {
    &::before {
        content: "";
        height: 2.2rem;
        width: 1rem;
        background-color: var(--color-red);
        position: absolute;
        display: block;
        left: 0;
        top: -1.2rem;
    }
}

@mixin widgets {
    padding-left: 1rem;
    margin-top: 0.8rem;
    .search-widget {
        h4 {
            color: var(--color-white);
            font-size: 2.5rem;
            font-weight: 800;
            position: relative;
            @include border;
            margin: 0rem 0rem 2rem 1.3rem;
            padding-left: 0.5rem;
            &::before {
                background-color: var(--color-white);
                left: -1.2rem;
                height: 1.8rem;
                top: -0.8rem;
            }
        }
        form {
            .input-group {
                max-width: 20rem;
                width: 100%;
                position: relative;
                input {
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                    border-radius: 10px !important;
                    padding: 0.7rem !important;
                    border: none;
                }

                button {
                    position: absolute;
                    top: 0;
                    right: -0.4rem;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2rem;
                    background-color: transparent;
                    border: none;
                    color: var(--color-black);
                    z-index: 99;
                    padding-right: 2rem;
                    i {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    .last-post-widget {
        margin-top: 7rem;
        h4 {
            color: var(--color-black);
            font-size: 2.2rem;
            font-weight: 800;
            position: relative;
            @include border;
            margin: 0rem 0rem 2rem 1.3rem;
            padding-left: 0.5rem;
            &::before {
                background-color: var(--color-black);
                left: -1.2rem;
                height: 1.8rem;
                top: -0.8rem;
            }
        }
        .swiper {
            width: 100%;
            height: 75rem;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                display: inline-block; // Browser destekleri için ilaveten kullanıyoruz
                word-break: break-word;
                table-layout: fixed; //
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                flex-direction: column;
                padding: 0rem;
                &::before {
                    background-color: transparent;
                }

                a {
                    width: 100%;
                    height: 100%;
                    transition: 0.3s all;
                    color: var(--color-black);

                    &:hover {
                        color: var(--color-red);
                    }
                    .card-img-top {
                        /*  max-width: 8rem; */
                        object-fit: cover;
                        /*  @media screen and(max-width:$sm-breakpoint) {
                            max-width: 6rem;
                        } */
                    }

                    span {
                        font-size: 0.9rem;
                        color: var(--color-turquoise);
                        font-weight: 400;
                        text-align: left !important;
                        margin-top: 1rem;
                    }
                    i {
                        margin-top: 0.6rem;
                    }
                }
            }
        }
    }
}

@mixin singlePost {
    h4 {
        font-size: 2rem;
        font-weight: 800;
        color: var(--color-black);
        margin: 1.5rem 0rem;
    }
    p {
        color: var(--text-color);
        font-weight: 300;
        font-size: 1rem;
        @media screen and(max-width:1440px) {
            font-size: 0.9rem;
        }
    }
    a {
        color: var(--color-black);
        transition: 0.3s all;
        &:hover {
            color: var(--color-red);
            margin-left: 0.5rem;
        }
    }
}

@mixin blog {
    padding: 5rem 0rem 0rem 0rem;
    margin-top: -19rem;
    z-index: 99;
    position: relative;
}

@mixin serviceCard {
    padding: 0;
    border: 0rem;
    border-radius: 0rem;
    background-color: transparent;

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        border-radius: none;

        @media screen and(min-width:$xl-breakpoint) {
            height: 17rem;
        }

        @media screen and(max-width:$xl-breakpoint) {
            height: 23rem;
        }

        @media screen and(max-width:$lg-breakpoint) {
            height: 17rem;
        }
    }

    .card-body {
        padding: 3rem;
        background-color: var(--color-white);

        h5 {
            color: var(--color-black);
            font-weight: 700;
            font-size: 1.5rem;
        }

        p {
            font-size: 0.9rem;
            margin-top: 1rem;
            color: var(--text-color);
            font-weight: 500;
        }

        .btn {
            @include btn;
        }

        @media screen and(max-width:$lg-breakpoint) {
            padding: 2rem;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Proxima Nova Rg";
    background-color: var(--color-bg);
}

:root {
    --color-white: #fff;
    --color-black: #1f1e1f;
    --color-red: #c91b1b;
    --color-bg: #fbfbfb;
    --text-color: #3d3c3d;
}

//responsive breakpoints
$sm-breakpoint: 600px; //Small
$md-breakpoint: 768px; //Medium
$lg-breakpoint: 991px; //Large
$xl-breakpoint: 1200px; //Extra large
$xxl-breakpoint: 1400px; //Extra extra large

ul {
    margin-bottom: 0rem;
    padding-left: 0rem;

    li {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: 0.5s;
    padding: 8rem 5rem;

    @media screen and(max-width:1440px) {
        padding: 8rem 1rem;
        &.bg-color {
            background-color: var(--color-white);
            .menu-toggle {
                i {
                    color: var(--color-black);
                }
            }
        }
    }

    @media screen and(max-width:$xl-breakpoint) {
        padding: 4rem 0.5rem;
    }

    &.header_scroll {
        background-color: var(--color-white);
        padding: 4rem 1rem;

        @media screen and(max-width:$xl-breakpoint) {
            padding: 4rem 0.5rem;
        }

        .nav-link {
            padding: 2.8rem 1.5rem !important;
            @media screen and(max-width:1440px) {
                padding: 0.5rem 1rem !important;
            }
            &::before {
                bottom: 2.4rem !important;
            }
        }

        a,
        button {
            color: var(--color-black) !important;
        }
        .language-area {
            img {
                filter: inherit;
            }
        }
        .menu-toggle {
            i {
                color: var(--color-black);
            }
        }
    }
    .wrapper {
        display: none;
        @media screen and(max-width:$xl-breakpoint) {
            display: block;
        }
    }

    .menu-toggle {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 1rem;
        top: 40%;
    }

    .language-area {
        margin: 0rem 1.5rem;
        @media screen and(max-width:$xl-breakpoint) {
            justify-content: flex-start !important;
            align-items: flex-start;
            margin-left: 1rem !important;
            margin: 0rem;
        }
        img {
            max-width: 2rem;
            cursor: pointer;
            object-fit: cover;
        }
    }

    .social-media {
        @media screen and(min-width:1750px) {
            margin: 0px 6rem;
        }
        @media screen and(max-width:1440px) {
            margin: 0px 2rem;
        }

        @media screen and(max-width:$xl-breakpoint) {
            display: flex !important;
            margin: 0rem;
            margin-top: 1.5rem;
            margin-left: 1rem;
        }
        ul {
            li {
                a {
                    color: var(--color-black);
                    font-size: 1.3rem;
                    @media screen and(max-width:1024px) {
                        color: var(--color-black);
                    }
                }
            }
        }
    }
    .collapse {
        @media screen and(max-width:$xl-breakpoint) {
            position: fixed;
            height: 100vh;
            width: 0;
            background: var(--color-white);
            top: 8rem;
            left: 0;
            right: 0;
            z-index: 99999;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s all;
            display: block !important;
            flex-direction: column;
        }

        &.active {
            padding: 2rem 1rem;
            opacity: 9 !important;
            visibility: visible !important;
            width: 100% !important;
        }
    }

    .navbar-nav {
        @media screen and(max-width:$xl-breakpoint) {
            flex-direction: column !important;
        }
        .nav-item {
            .nav-link {
                color: var(--color-black);
                font-weight: 600;
                font-size: 1.4rem;
                padding: 1.7rem 1rem;
                position: relative;

                @media screen and(max-width:1440px) {
                    font-size: 1.2rem;
                }

                @media screen and(max-width:$xl-breakpoint) {
                    padding: 0.5rem 1rem !important;
                    color: var(--color-black);
                }

                @media screen and(min-width:$xl-breakpoint) {
                    &::before {
                        content: "";
                        height: 2px;
                        width: 0px;
                        background-color: var(--color-red);
                        position: absolute;
                        bottom: 1rem;
                        transition: 0.3s all;
                    }
                }

                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 1.2rem;
                }

                &:hover {
                    color: var(--color-red);
                    &::before {
                        width: 50%;
                    }
                }
                &.active {
                    color: var(--color-red);
                }
            }

            &:hover {
                .dropdown-menu {
                    @media screen and (min-width: $xl-breakpoint) {
                        display: block;
                    }
                }
            }

            .dropdown-menu {
                border-radius: 0rem;

                @media screen and(max-width:$xl-breakpoint) {
                    position: relative !important;
                    overflow: scroll;
                    height: 12rem;
                    box-shadow: none !important;
                    border: none;
                    padding-left: 1rem;
                    top: inherit !important;
                }

                li {
                    a {
                        font-size: 1rem;
                        font-weight: 500;

                        @media screen and(max-width:$xl-breakpoint) {
                            padding-left: 0rem;
                        }

                        &:hover {
                            background-color: transparent;
                            color: var(--color-red);
                        }
                    }
                }
            }
        }
    }

    .navbar-brand {
        width: 24%;
        display: block;
        max-width: 20rem;
        width: 100%;
        @media screen and(max-width:1440px) {
            max-width: 16rem;
        }
        @media screen and(max-width:$lg-breakpoint) {
            max-width: 13rem;
        }
    }
}

.banner {
    position: relative;

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: var(--color-white);

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            position: relative;
            z-index: 99;
            min-height: 100vh;
            width: 100%;
            padding: 2rem 0rem;

            @media screen and(max-width:$lg-breakpoint) {
                min-height: 70vh;
                padding: 4rem 0rem;
                background-position: left !important;
            }

            &::before {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.699);

                z-index: -1;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;

                /*    @media screen and(max-width:$lg-breakpoint) {
                    background-color: rgba(0, 0, 0, 0.26);
                } */
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .content {
                max-width: 33rem;
                margin-top: 15rem;

                @media screen and(max-width:$lg-breakpoint) {
                    max-width: 17rem;
                    margin-top: 7rem;
                }

                h1 {
                    color: var(--color-red);
                    font-weight: 700;
                    font-size: 4rem;

                    @media screen and(max-width:$lg-breakpoint) {
                        font-size: 2rem;
                    }
                }

                .text {
                    position: relative;
                    margin-top: 6rem;
                    padding-left: 2rem;

                    @media screen and(max-width:$lg-breakpoint) {
                        margin-top: 3rem;
                    }

                    &::before {
                        content: "";
                        height: 2.8rem;
                        width: 1.5rem;
                        background-color: var(--color-red);
                        position: absolute;
                        display: block;
                        left: 0;
                        top: -1.5rem;
                    }

                    p {
                        color: var(--color-black);
                        font-weight: 500;
                        font-size: 1rem;
                    }
                }

                .btn {
                    color: var(--color-black);
                    margin-left: 2rem;
                    border: 1px solid var(--color-black);
                    border-radius: 5px;
                    margin-top: 2rem;
                    transition: 0.3s all;
                    font-weight: 700;

                    &:hover {
                        background-color: var(--color-red);
                        border: 1px solid var(--color-red);
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}

.sub-banner {
    position: relative;
    z-index: 99;
    padding: 2rem;
    min-height: 55vh;
    width: 100%;

    @media screen and(max-width:$sm-breakpoint) {
        min-height: 35vh;
    }
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.699);

        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        /*    @media screen and(max-width:$lg-breakpoint) {
            background-color: rgba(0, 0, 0, 0.26);
        } */
    }
    h2 {
        max-width: 28rem;
        color: var(--color-red);
        font-weight: 800;
        margin-top: 6rem;
        font-size: 2.5rem;

        @media screen and(max-width:$sm-breakpoint) {
            font-size: 1.5rem;
            max-width: 22rem;
        }
    }
}

.services {
    position: relative;
    overflow: hidden;
    min-height: 100vh;

    .col-lg-5 {
        .info-area {
            @media screen and(min-width:$xl-breakpoint) {
                padding: 5rem 0rem 0rem 5rem;
                margin-top: 10rem;
                display: block;
                max-width: 30rem;
            }

            @media screen and(max-width:1650px) {
                padding: 5rem 0rem 0rem 1rem;
                max-width: 20rem;
            }

            @media screen and(max-width:$xl-breakpoint) {
                max-width: 16rem;
            }

            @media screen and(max-width:1024px) {
                max-width: 100%;
            }

            h6 {
                font-weight: bold;
                font-size: 1.6rem;
                max-width: 17rem;
                margin-bottom: 4rem;

                @media screen and(max-width:1440px) {
                    font-size: 1.3rem;
                }

                @media screen and(max-width:1024px) {
                    margin-bottom: 2rem;
                }
            }

            h2 {
                color: var(--color-red);
                font-weight: bold;
                font-size: 4rem;
                display: block;
                margin-bottom: 4rem;

                @media screen and(max-width:1440px) {
                    font-size: 3rem;
                }

                @media screen and(max-width:$xl-breakpoint) {
                    font-size: 2.5rem;
                }

                @media screen and(max-width:1024px) {
                    margin-bottom: 2rem;
                }
            }

            p {
                color: var(--color-black);
                font-size: 1rem;
                font-weight: 300;

                @media screen and(max-width:1440px) {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .navigate-area {
        @include navigateArea;
    }

    .col-lg-7 {
        background-color: var(--color-red);
        padding: 9rem 0rem 20rem 0rem;

        @media screen and(max-width:1024px) {
            padding: 1rem;
            background-color: transparent;
        }

        .swiper-container {
            @media screen and(min-width:$xl-breakpoint) {
                margin-left: -11rem;
                margin-right: -10rem;
            }
        }

        .swiper {
            width: 100%;
            height: 100%;

            .swiper-slide {
                text-align: center;
                font-size: 18px;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;

                @media screen and(min-width:$xl-breakpoint) {
                    scale: 0.88;

                    &-active {
                        scale: 1;
                    }
                }

                .card {
                    @include serviceCard;
                }
            }
        }
    }
}

.security-system {
    position: relative;
    overflow: hidden;
    display: block;
    z-index: 999;

    @media screen and(min-width:$lg-breakpoint) {
        margin-top: -10rem;
    }

    .container-fluid {
        @media screen and(min-width:$lg-breakpoint) {
            padding-left: 0rem !important;
        }
    }

    .row {
        @media screen and(max-width:$lg-breakpoint) {
            flex-direction: column-reverse;
        }
    }

    .col-lg-7 {
        @media screen and(min-width:$lg-breakpoint) {
            padding-right: 0rem;

            img {
                height: 50rem;
                object-fit: cover;
                object-position: top;

                @media screen and(max-width:$lg-breakpoint) {
                    height: auto;
                }
            }
        }
    }

    .col-lg-5 {
        @media screen and(min-width:$lg-breakpoint) {
            padding-left: 0rem;
            margin-top: 6.5rem;
        }

        .content {
            background-color: var(--color-white);
            max-width: 46rem;
            height: 40rem;
            padding: 7rem 3rem 3rem 3rem;

            @media screen and(max-width:1440px) {
                max-width: 36rem;
            }

            @media screen and(max-width:$xl-breakpoint) {
                max-width: 30rem;
                padding: 5rem 3rem 3rem 3rem;
                height: 36rem;
            }

            @media screen and(max-width:$lg-breakpoint) {
                max-width: 100%;
                height: auto;
            }

            @media screen and(max-width:$sm-breakpoint) {
                padding: 3rem 1rem 1rem 1rem;
            }

            h6 {
                color: var(--color-red);
                font-size: 1.1rem;
                font-weight: 600;
                margin-bottom: 4rem;

                @media screen and(max-width:1440px) {
                    font-size: 1rem;
                    margin-bottom: 2rem;
                }

                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }
            }

            h2 {
                color: var(--color-black);
                font-weight: 800;
                font-size: 3.8rem;
                margin-bottom: 2.5rem;

                @media screen and(max-width:1440px) {
                    font-size: 3rem;
                }

                @media screen and(max-width:$xl-breakpoint) {
                    font-size: 2.5rem;
                }

                @media screen and(max-width:1024px) {
                    margin-bottom: 2rem;
                }

                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 1.8rem;
                }
            }

            p {
                color: var(--text-color);
                max-width: 25rem;
                font-size: 1rem;
                font-weight: 300;

                @media screen and(max-width:1440px) {
                    font-size: 0.9rem;
                }

                @media screen and(max-width:$lg-breakpoint) {
                    max-width: 100%;
                }
            }

            .btn {
                color: var(--color-red);
                padding-left: 0rem;
                font-size: 3rem;
                margin-top: 2rem;
                transition: 0.3s all;

                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 2rem;
                    margin-top: 1rem;
                }

                &:hover {
                    color: var(--color-black);
                }
            }
        }
    }
}

.about {
    padding: 6rem 0rem 0rem 0rem;

    @media screen and(max-width:$lg-breakpoint) {
        padding: 3rem 0rem 0rem 0rem;
    }

    position: relative;

    .box {
        h4 {
            color: var(--color-red);
            font-weight: 800;
            margin: 2.5rem 0rem 1rem 0rem;
            font-size: 1.6rem;
            text-align: center;

            @media screen and(max-width:$xl-breakpoint) {
                font-size: 1.3rem;
            }
        }

        p {
            color: var(--text-color);
            font-weight: 300;
            font-size: 1rem;

            @media screen and(max-width:1440px) {
                font-size: 0.9rem;
            }
        }
    }
}

.blog {
    position: relative;
    padding: 3rem 0rem;

    h3 {
        /*         font-family: 'Ms Madi', cursive;
 */
        font-family: "Pinyon Script", cursive;
        font-size: 5rem;
        color: var(--color-red);
        font-weight: 500;
        margin-bottom: 5rem;

        @media screen and(max-width:$lg-breakpoint) {
            margin-bottom: 2rem;
        }
    }

    .navigate-area {
        @include navigateArea;
        margin-top: 4rem;
    }

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .card {
            border-radius: 0rem;
            border: none;
            background-color: transparent;
            text-align: start;

            &:hover {
                .img-wrapper {
                    &:before {
                        background-color: #1f1e1f8a;
                    }
                }

                h5 {
                    color: var(--color-red) !important;
                }
            }

            .img-wrapper {
                position: relative;

                &:before {
                    content: "";
                    background-color: #c91b1b86;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    transition: 0.3s all;
                }

                img {
                    height: 20rem;
                    object-fit: cover;
                    object-position: top;
                    width: 100%;
                    border-radius: 0rem;
                }
            }

            .card-body {
                background-color: var(--color-white);
                padding: 2rem;

                h5 {
                    color: var(--color-black);
                    font-size: 1.5rem;
                    font-weight: 600;
                    transition: 0.3s all;
                    margin-bottom: 1.5rem;

                    @media screen and(max-width:$lg-breakpoint) {
                        font-size: 1.3rem;
                    }
                }

                p {
                    /* color: var(--color-black); */
                    font-weight: 300;
                    font-size: 1rem;
                    color: var(--text-color);

                    @media screen and(max-width:1440px) {
                        font-size: 0.9rem;
                    }
                }

                .btn {
                    @include btn;
                }
            }
        }
    }
}

.we {
    min-height: 50vh;
    position: relative;
    padding: 5rem 3rem;
    background-image: linear-gradient(90deg, #c91b1b 33%, #1f1e1f 33%);
    margin-bottom: 3rem;

    @media screen and(max-width:$lg-breakpoint) {
        padding: 4rem 1rem;
        background-color: var(--color-red) !important;
        background-image: none;
    }

    .box {
        max-width: 16rem;

        @media screen and(max-width:$sm-breakpoint) {
            max-width: 100%;
        }

        h2 {
            color: var(--color-white);
            font-weight: 700;
            display: flex;
            flex-direction: column;
            font-size: 5rem;
            margin-bottom: 1rem;

            span {
                font-weight: 100 !important;
                font-size: 1.5rem;

                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 1.3rem;
                }
            }

            @media screen and(max-width:$lg-breakpoint) {
                font-size: 3rem;
            }

            @media screen and(max-width:$sm-breakpoint) {
                font-size: 2rem;
            }
        }

        p {
            color: var(--color-white);
            font-weight: 300;
            font-size: 1rem;

            @media screen and(max-width:1440px) {
                font-size: 0.9rem;
            }
        }
    }

    .expert {
        @media screen and(max-width:$lg-breakpoint) {
            justify-content: flex-start !important;
        }
    }

    .customer {
        @media screen and(max-width:$sm-breakpoint) {
            justify-content: flex-start !important;
        }
    }
}

.about-page {
    padding: 5rem 0rem;
    position: relative;
    @media screen and(max-width:$lg-breakpoint) {
        padding: 2rem 0rem;
    }
    .text {
        p {
            color: var(--color-black);
            font-weight: 300;
            font-size: 1rem;
            @media screen and(max-width:1440px) {
                font-size: 0.9rem;
            }
        }
    }
}

.contact-we {
    background-color: var(--color-red);
    @media screen and(max-width:$xl-breakpoint) {
        padding: 2rem 0rem;
    }

    @media screen and(min-width:$lg-breakpoint) {
        margin-top: 8rem;
    }

    .img-wrapper {
        @media screen and(min-width:$xl-breakpoint) {
            margin-top: -5rem;
        }
    }
    .content {
        display: block;
        @media screen and(min-width:$xl-breakpoint) {
            padding-left: 4rem;
        }

        h4 {
            color: var(--color-white);
            font-size: 2.3rem;
            font-weight: 500;
            margin-bottom: 2rem;
            @media screen and(max-width:$lg-breakpoint) {
                margin: 1rem 0rem 1rem 0rem;
                font-size: 1.8rem;
            }
            @media screen and(max-width:$sm-breakpoint) {
                font-size: 1.5rem;
            }
        }
        p {
            color: var(--color-white);
            font-weight: 300;
            font-size: 1rem;

            @media screen and(max-width:1440px) {
                font-size: 0.9rem;
            }
        }
        a {
            color: var(--color-white);
            font-weight: 800;
            margin-top: 2rem;
            display: block;
            &:hover {
                i {
                    margin-right: 0.5rem;
                }
            }
            i {
                margin-right: 0.3rem;
                transition: 0.3s all;
            }
        }
    }
}

.our-services {
    padding: 4rem 0rem;
    position: relative;
    min-height: 100vh;
    h2 {
        color: var(--color-red);
        font-weight: 800;
        font-size: 3rem;
        @media screen and(max-width:$lg-breakpoint) {
            font-size: 2.3rem;
        }
    }
    .sub-title {
        color: var(--color-black);
        font-weight: 600;
        font-size: 1.4rem;
        margin-bottom: 10rem;
        @media screen and(max-width:$lg-breakpoint) {
            font-size: 1.2rem;
        }
    }
    .owl-item {
        color: white;
        text-align: center;
    }

    .owl-prev,
    .owl-next {
        display: inline-block;
    }

    .owl-next {
        float: right;
    }

    .slider-counter {
        text-align: center;
    }

    .slide-area {
        background-color: var(--color-red);
        min-height: 40rem;
        position: relative;
        .slide-content {
            position: absolute;
            top: -5rem;
            left: 0;
            right: 0;
        }
    }

    .card {
        @include serviceCard;
        .card-body {
            padding: 2rem;
        }
    }
}

.space {
    background-color: var(--color-red);
    padding: 10rem 0rem;
    position: relative;
}

.blog-page {
    @include blog;

    .single-post {
        @include singlePost;
    }

    .multi-post {
        .card {
            border: none;
            background-color: transparent;
            .card-body {
                h5 {
                    color: var(--color-black);
                    font-weight: 700;
                    font-size: 1.5rem;
                }
                p {
                    color: var(--text-color);
                    font-size: 1rem;
                    font-weight: 300;
                    @media screen and(max-width:1440px) {
                        font-size: 0.9rem;
                    }
                }
                .btn {
                    background-color: var(--color-red);
                    color: var(--color-white);
                    font-size: 1rem;
                    padding: 0.3rem 1rem;
                    border-radius: 0;
                    transition: 0.3s all;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                    &:hover {
                        background-color: var(--color-black);
                    }
                }
            }
        }
    }

    .widgets {
        @include widgets;
    }
}

.blog-detail {
    @include blog;
    .single-post {
        @include singlePost;
    }
    .widgets {
        @include widgets;
    }
}

.contact-page {
    padding: 5rem 2rem;
    position: relative;
    width: 100%;
    background-color: var(--color-white);

    @media screen and(max-width:$lg-breakpoint) {
        padding: 2rem;
    }

    h3 {
        color: var(--color-black);
        font-size: 2.5rem;
        display: inline-block;
        font-weight: 800;
        position: relative;
        @include border;
        margin-bottom: 7rem;
        &::before {
            left: -1.3rem;
            height: 1.8rem;
        }
        @media screen and(max-width:$sm-breakpoint) {
            font-size: 1.6rem;
            margin-bottom: 4rem;
        }
    }

    h5 {
        display: inline-block;
        font-weight: 800;
        position: relative;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        @include border;

        &::before {
            left: -1.3rem;
            height: 1.5rem;
            top: -0.5rem;
        }

        @media screen and(max-width:$sm-breakpoint) {
            font-size: 1.2rem;
        }
    }
    .left-area {
        @media screen and(max-width:$sm-breakpoint) {
            padding-left: 1.8rem;
            margin-bottom: 2rem;
        }
        .phone {
            ul {
                li {
                    a {
                        color: var(--text-color);
                        font-weight: 300;
                        font-size: 1.1rem;
                        @media screen and(max-width:$sm-breakpoint) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .address {
            margin: 2rem 0rem;
            p {
                max-width: 20rem;
                font-weight: 300;
                font-size: 1rem;
                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 0.9rem;
                }
            }
        }

        .social-media {
            ul {
                li {
                    a {
                        color: var(--color-red);
                        font-size: 2.1rem;
                        @media screen and(max-width:$sm-breakpoint) {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    .form-area {
        form {
            .form-group {
                margin-bottom: 1.5rem;
                .form-control {
                    padding: 0.9rem 1rem;
                    border-radius: 0.55rem;
                    border: 1px solid #bbbbbb;
                    color: var(--color-black);
                    resize: none;
                    ::placeholder {
                        color: #bbbbbb;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
            .btn {
                border: 1px solid var(--text-color);
                border-radius: 0.55rem;
                padding: 0.5rem 1rem;
                color: var(--color-black);
                transition: 0.3s all;
                &:hover {
                    background-color: var(--color-red);
                    color: var(--color-white);
                    border: 1px solid var(--color-red);
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}

.map {
    position: relative;
    min-height: 50vh;
    width: 100%;
    iframe {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

footer {
    background-color: var(--color-black);
    padding: 5rem 0rem 0rem 0rem;

    .img-wrapper {
        img {
            @media screen and(max-width:$lg-breakpoint) {
                max-width: 15rem;
            }
        }
    }

    .social-media {
        margin: 3rem 0rem 2rem 1.3rem;

        ul {
            li {
                a {
                    color: var(--color-white);
                    font-size: 1.5rem;
                    transition: 0.3s all;
                    &:hover {
                        color: var(--color-red);
                    }
                }
            }
        }
    }

    .contact {
        margin-left: 1.3rem;
        ul {
            li {
                a {
                    color: var(--color-white);
                    font-weight: 300;
                    font-size: 0.9rem;

                    &.phone {
                        font-size: 2.2rem;
                    }

                    i {
                        color: var(--color-red);
                        font-size: 1.5rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }

    h4 {
        color: var(--color-white);
        font-weight: 600;
        font-size: 1.3rem;
        @media screen and(max-width:$lg-breakpoint) {
            font-size: 1.1rem;
        }
    }

    .address {
        position: relative;
        margin-top: 3rem;
        padding-left: 1.5rem;

        p {
            color: var(--color-white);
            font-size: 0.9rem;
        }

        @include border;
    }

    .phone-area {
        margin-top: 3rem;
        position: relative;
        padding-left: 1.5rem;
        @include border;

        ul {
            li {
                a {
                    color: var(--color-white);
                    font-size: 0.9rem;
                }
            }
        }
    }

    .service-area,
    .info-area {
        @media screen and(max-width:$lg-breakpoint) {
            justify-content: flex-start !important;
        }
    }

    .service,
    .info {
        margin-top: 3rem;
        position: relative;
        padding-left: 1.5rem;
        @include border;

        ul {
            li {
                margin: 0.5rem 0rem;

                a {
                    color: var(--color-white);
                    font-size: 0.9rem;
                    font-weight: 300;
                    transition: 0.3s all;

                    &:hover {
                        color: var(--color-red);
                    }
                }
            }
        }
    }

    .copyright {
        background-color: var(--color-white);
        padding: 1rem 0rem;
        margin-top: 2rem;
        @media screen and(max-width:1440px) {
            padding: 0.5em 0rem;
        }

        .col-lg-6 {
            @media screen and(max-width:$lg-breakpoint) {
                justify-content: center !important;
                text-align: center;
            }
        }

        span {
            color: var(--color-black);
            font-size: 0.9rem;
            font-weight: 300;
            display: block;

            @media screen and(max-width:1440px) {
                font-size: 0.7rem;
            }

            @media screen and(max-width:$lg-breakpoint) {
                margin-bottom: 0.5rem;
            }
        }

        img {
            filter: invert(1);
            max-width: 2.8rem;
            @media screen and(max-width:1440px) {
                max-width: 1.7rem;
            }
        }
    }
}
